@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// custom variables here
$container-max-widths: (
  sm: 540px,
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px
);

$orange: #FF4500; 

$new-colors: (
    "orange": $orange,
    "sidebar": #DAE0E6,
);

// overrides
$btn-border-radius: 20px;
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$offcanvas-horizontal-width: 250px;
$theme-colors: map-merge($theme-colors, $new-colors);

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
// main bs styles
@import "bootstrap/scss/bootstrap";

// css overrides
.btn-signin {
    @include button-variant (
        #ff4500, 
        #ff4500, 
        $color: #fff, 
        $hover-background: #ff5722, 
        $hover-color: #fff
    )
}

.container {
    min-height: 100vh;
    background-color: var(--bg-main);
    padding-top: 1rem;
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    padding: 0 2vw;
}

.profile-header {
    display: flex; 
    flex-direction: row;
    align-items: end;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.profile-container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 24px;
}

.profile-pic {
    object-fit: cover;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
}

@include media-breakpoint-up(md) {
    .navbar-container {
        margin: 0 5vw; 
    }
}
@include media-breakpoint-up(lg) {
    .navbar-container {
        margin: 0 10vw;  
    }
}
@include media-breakpoint-up(xl) {
    .navbar-container {
        margin: 0 15vw;  
    }
}