@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// custom variables here

$orange: #FF4500; 

$new-colors: (
    "orange": $orange,
    "sidebar": #1f2937,
);

// overrides
$btn-border-radius: 20px;
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$offcanvas-horizontal-width: 250px;
$theme-colors: map-merge($theme-colors, $new-colors);

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
// main bs styles
@import "bootstrap/scss/bootstrap";

// css overrides
.btn-signin {
    @include button-variant (
        #ff4500, 
        #ff4500, 
        $color: #fff, 
        $hover-background: #ff5722, 
        $hover-color: #fff
    )
}