@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// custom variables here
$container-max-widths: (
  sm: 540px,
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px
);

$orange:             rgb(255, 69, 0); 
$ctmint:             rgb(204, 255, 140); 
$ctseafoam:          rgb(129, 222, 118); 
$ctgrayblue:         rgb(61, 88, 125); 
$ctlapisblue:        rgb(58, 85, 180);
$ctcornflowerblue:   rgb(108, 173, 223); 
$ctskyblue:          rgb(140, 217, 255); 

$ctbgw1:             rgb(218, 224, 230); 
$ctbgw2:             rgb(151, 157, 163); 
$ctbgb1:             rgb(31, 29, 29); 
$ctbgb2:             rgb(66, 64, 64); 

$new-colors: (
    "ctorange": $orange,
    "sidebar": rgb(248,249,250),
    "ctmint": $ctmint,
    "ctseafoam": $ctseafoam, 
    "ctlapisblue": $ctlapisblue,
    "ctcornflowerblue": $ctcornflowerblue,
    "ctskyblue": $ctskyblue
);

// overrides
$btn-border-radius: 20px;
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$offcanvas-horizontal-width: 250px;
$theme-colors: map-merge($theme-colors, $colors); 
$theme-colors: map-merge($theme-colors, $new-colors);

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
// main bs styles
@import "bootstrap/scss/bootstrap";

// css overrides

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: $ctbgw1;
  display: flex;
  flex-direction: column;
}

.btn-signin {
    @include button-variant (
        #ff4500, 
        #ff4500, 
        $color: #fff, 
        $hover-background: #ff5722, 
        $hover-color: #fff
    )
}

.container {
    min-height: 100%;
    background-color: $ctbgw1;
    padding-top: 1rem;
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    padding: 0 2vw;
}

@include media-breakpoint-up(md) {
    .navbar-container {
        margin: 0 5vw; 
    }
}
@include media-breakpoint-up(lg) {
    .navbar-container {
        margin: 0 10vw;  
    }
}
@include media-breakpoint-up(xl) {
    .navbar-container {
        margin: 0 15vw;  
    }
}




// temp include
.insert-link-button {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 1.25rem 0;
  padding: 0.5rem;
  background-color: rgb(219, 234, 254);
  border-radius: 9999px;
}

.insert-link-button:hover {
  background-color: rgb(96, 165, 250);
}

.milkdown-link-preview {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  position: absolute;
}

.milkdown-link-preview[data-show='false'] {
  display: none;
}

.milkdown-link-preview > .link-preview {
  background-color: rgb(239, 246, 255);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  height: 2.5rem;
}

.milkdown-link-preview > .link-preview > .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.milkdown-link-preview > .link-preview > .link-icon > svg {
  width: 0.875rem;
  height: 0.875rem;
}

.milkdown-link-preview > .link-preview > .link-display {
  width: 240px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.milkdown-link-preview > .link-preview > .link-display:hover {
  text-decoration: underline;
}

.milkdown-link-preview > .link-preview > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 9999px;
}

.milkdown-link-preview > .link-preview > .button > svg {
  width: 0.875rem;
  height: 0.875rem;
}

.milkdown-link-preview > .link-preview > .button:hover {
  background-color: rgb(96, 165, 250);
}

.milkdown-link-edit {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  overflow: hidden;
  border-radius: 0.25rem;
  position: absolute;
}

.milkdown-link-edit[data-show='false'] {
  display: none;
}

.milkdown-link-edit > .link-edit {
  background-color: rgb(239, 246, 255);
  height: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
}

.milkdown-link-edit > .link-edit > .input-area {
  outline: none;
  background-color: transparent;
  width: 13rem;
  font-size: 0.875rem;
}

.milkdown-link-edit > .link-edit > .button {
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.milkdown-link-edit > .link-edit > .button:hover {
  background-color: rgb(96, 165, 250);
}

.milkdown-link-edit > .link-edit > .button.hidden {
  visibility: hidden;
  pointer-events: none;
}
