@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// custom variables here
$container-max-widths: (
  sm: 540px,
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px
);

$orange:             rgb(255, 69, 0); 
$ctmint:             rgb(204, 255, 140); 
$ctseafoam:          rgb(129, 222, 118); 
$ctgrayblue:         rgb(61, 88, 125); 
$ctlapisblue:        rgb(58, 85, 180);
$ctcornflowerblue:   rgb(108, 173, 223); 
$ctskyblue:          rgb(140, 217, 255); 

$ctbgw1:             rgb(218, 224, 230); 
$ctbgw2:             rgb(151, 157, 163); 
$ctbgb1:             rgb(31, 29, 29); 
$ctbgb2:             rgb(66, 64, 64); 

$new-colors: (
    "ctorange": $orange,
    "sidebar": rgb(248,249,250),
    "ctmint": $ctmint,
    "ctseafoam": $ctseafoam, 
    "ctlapisblue": $ctlapisblue,
    "ctcornflowerblue": $ctcornflowerblue,
    "ctskyblue": $ctskyblue
);

// overrides
$btn-border-radius: 20px;
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$offcanvas-horizontal-width: 250px;
$theme-colors: map-merge($theme-colors, $colors); 
$theme-colors: map-merge($theme-colors, $new-colors);

@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
// main bs styles
@import "bootstrap/scss/bootstrap";

// css overrides

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: $ctbgw1;
  display: flex;
  flex-direction: column;
}

.btn-signin {
    @include button-variant (
        #ff4500, 
        #ff4500, 
        $color: #fff, 
        $hover-background: #ff5722, 
        $hover-color: #fff
    )
}

.container {
    min-height: 100%;
    background-color: $ctbgw1;
    padding-top: 1rem;
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    padding: 0 2vw;
}

@include media-breakpoint-up(md) {
    .navbar-container {
        margin: 0 5vw; 
    }
}
@include media-breakpoint-up(lg) {
    .navbar-container {
        margin: 0 10vw;  
    }
}
@include media-breakpoint-up(xl) {
    .navbar-container {
        margin: 0 15vw;  
    }
}