@use "variables"; 

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// overrides
$container-max-widths: (
  sm: 539px,
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px
);
$btn-border-radius: 0.375rem;
$font-family-sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$offcanvas-horizontal-width: 250px;
$theme-colors: map-merge($theme-colors, $colors); 
$theme-colors: map-merge($theme-colors, variables.$new-colors);
$theme-colors: map-merge($theme-colors, variables.$core-colors);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// display modes
@include color-mode(dark) {
  --bs-ctbg1:     #{variables.$ctbgb1}; 
  --bs-ctbg1-rgb: #{variables.$ctbgb1-rgb};
  --bs-ctbg2:     #{variables.$ctbgb2}; 
  --bs-ctbg2-rgb: #{variables.$ctbgb2-rgb};
  --bs-ctbg3:     #{variables.$ctbgb3}; 
  --bs-ctbg3-rgb: #{variables.$ctbgb3-rgb};
}

@import "bootstrap/scss/bootstrap";

// css overrides

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bs-ctbg1);
  display: flex;
  flex-direction: column;
}

.btn-orange {
    @include button-variant (
        #ff4500, 
        #ff4500, 
        $color: #fff, 
        $hover-background: #ff5722, 
        $hover-color: #fff
    )
}

.container {
    min-height: 100%;
    background-color: var(--bs-ctbg1);
    padding-top: 1rem;
}

.navbar-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
    padding: 0 2vw;
    height: variables.$navbar-height;
}

@include media-breakpoint-up(md) {
    .navbar-container {
        margin: 0 5vw; 
    }
}
@include media-breakpoint-up(lg) {
    .navbar-container {
        margin: 0 10vw;  
    }
}
@include media-breakpoint-up(xl) {
    .navbar-container {
        margin: 0 15vw;  
    }
}

.sidebarcol {
    position: sticky; 
    top: variables.$navbar-height;
    max-height: calc(100vh - variables.$navbar-height);
}

.profile-pic-5 {
    object-fit: cover;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
}

.profile-pic-3 {
    object-fit: cover;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.profile-pic-2 {
    object-fit: cover;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.content-card {
    
}