@use "main"; 

.profile-header {
    display: flex; 
    flex-direction: row;
    align-items: end;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid main.$ctbgw2;
    margin-bottom: 1rem;
}

.profile-container {
    background: white;
    border: 1px solid main.$ctbgw2;
    border-radius: 4px;
    padding: 24px;
}

.profile-pic {
    object-fit: cover;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
}

.loading {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
  color: main.$ctbgw2;
  margin-top: 16px;
}
