.sidebar {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-link {
  color: #000;
  background-color: #e4e6ea;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  border-radius: 4px;
  font-weight: 500;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.sidebar-link:hover {
  color: #fff;
  background-color: #3d587d;
}
