@media (min-width: 768px) and (max-width: 1200px) {
  :root {
    --sidebar-width: 220px;
  }
}

@media (min-width: 1200px) {
  :root {
    --sidebar-width: 260px;
  }
}

/* Mobile: hide sidebar by default */
@media (max-width: 768px) {
  .sidebar-link {
    transform: translateX(-100%);
    width: 200px;
  }
}


.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--bg-sidebar);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-main);
  transition: width 0.3s ease;
  background-color: rgb(248,249,250);
}

.sidebar-link {
  color: #000;
  background-color: #e4e6ea;
  text-decoration: none;
  padding: 8px 12px;
  display: block;
  border-radius: 4px;
  font-weight: 500;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.sidebar-link:hover {
  color: #fff;
  background-color: #3d587d;
}
