$orange:             rgb(255, 69, 0); 
$ctmint:             rgb(204, 255, 140); 
$ctseafoam:          rgb(129, 222, 118); 
$ctgrayblue:         rgb(61, 88, 125); 
$ctlapisblue:        rgb(58, 85, 180);
$ctcornflowerblue:   rgb(108, 173, 223); 
$ctskyblue:          rgb(140, 217, 255); 

$ctbgw1:             rgb(218, 224, 230);  // background
$ctbgw1-rgb:         218, 224, 230; 
$ctbgw2:             rgb(238, 240, 243);  // background variant (e.g., for cards, modals)
$ctbgw2-rgb:         238, 240, 243; 
$ctbgw3:             rgb(175, 179, 184);  // borders, misc
$ctbgw3-rgb:         175, 179, 184; 
$ctbgb1:             rgb(31, 29, 29);     // same thing but dark variant
$ctbgb1-rgb:         31, 29, 29; 
$ctbgb2:             rgb(46, 45, 45); 
$ctbgb2-rgb:         46, 45, 45;  
$ctbgb3:             rgb(66, 64, 64); 
$ctbgb3-rgb:         66, 64, 64; 

$sidebarw: rgb(248,249,250);
$sidebarw-rgb: 248,249,250;
$sidebarb: rgb(44, 46, 48);
$sidebarb-rgb: 44, 46, 48;

$new-colors: (
    "ctorange": $orange,
    "sidebar": $sidebarw,
    "ctmint": $ctmint,
    "ctseafoam": $ctseafoam, 
    "ctlapisblue": $ctlapisblue,
    "ctcornflowerblue": $ctcornflowerblue,
    "ctskyblue": $ctskyblue
);

$core-colors: (
  "ctbg1": $ctbgw1, 
  "ctbg2": $ctbgw2, 
  "ctbg3": $ctbgw3, 
);

$dark-theme-colors: (
  "ctbg1": $ctbgb1,
  "ctbg1-rgb": $ctbgb1-rgb,
  "ctbg2": $ctbgb2,
  "ctbg2-rgb": $ctbgb2-rgb,
  "ctbg3": $ctbgb3,
  "ctbg3-rgb": $ctbgb3-rgb,
  "sidebar": $sidebarb,
  "sidebar-rgb": $sidebarb-rgb,
); 

$navbar-height: 50px; 